@import "../../partials/colors";
@import "../../partials/fonts";
@import "../../partials/mixins";
@import "../../partials/screens";

#dijit__WidgetBase_0 {
  display: none;
}
.jimu-widget-onscreen-icon {
  background-color: red;
}

.main {
  &__map {
    width: 100%;
    height: 40vh;

    @include medium {
      height: 50vh;
    }
  }
  &__section-container {
    @include mobile-container-padding;

    @include medium {
      @include tablet-section-padding;
    }
  }
  &__title {
    @include labels;
    @include mobile-component-padding;
    color: $text;

    @include medium {
      @include medium-labels;
    }
  }
  &__list {
    @include flex-column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    list-style: none;
  }
  &__list-item {
    @include body-copy;
    margin-bottom: 1rem;
    width: 50%;

    @include medium {
      @include medium-body-copy;
    }
  }
  &__item-link {
    @include no-decoration;
    color: $text;
    padding-bottom: 2px;
    border-bottom: 1px solid $accent;
    transition: color 0.5s;
    &:hover {
      color: $accent;
    }
  }

  &__card-container {
    width: 100%;
    @include large {
      @include flex;
      justify-content: space-between;
    }
  }
  &__card {
    @include flex;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    box-shadow: 0px 6px 10px 1px #ccc;

    @include small {
      padding: 1.5rem;
    }

    @include medium {
      height: 200px;
    }
  }
  &__card--resources {
    justify-content: flex-start;
    align-items: center;
    box-shadow: none;
    border-radius: none;

    @include large {
      width: calc(50% - 24px);
    }
  }
  &__card--cta {
    display: block;
    background-color: $bg;
    box-shadow: none;
    border-radius: none;

    @include large {
      width: calc(50% - 24px);
    }
  }

  &__card--support {
    background-image: linear-gradient(
        rgb(50, 50, 50, 0.2),
        rgb(50, 50, 50, 0.2)
      ),
      url("../../assets/images/lake.jpeg");
    margin-bottom: 1rem;
    transition: all 0.5s;

    &:hover {
      background-image: linear-gradient(
          rgba(160, 160, 160, 0.3),
          rgb(160, 160, 160, 0.3)
        ),
        url("../../assets/images/lake.jpeg");
    }
  }
  &__card--general {
    background-image: linear-gradient(
        rgb(50, 50, 50, 0.2),
        rgb(50, 50, 50, 0.2)
      ),
      url("../../assets/images/wellsgray.jpeg");
    transition: all 0.5s;

    &:hover {
      background-image: linear-gradient(
          rgba(160, 160, 160, 0.3),
          rgb(160, 160, 160, 0.3)
        ),
        url("../../assets/images/wellsgray.jpeg");
    }
  }
  &__card-title {
    @include subheader;
    color: $text-light;
    text-transform: uppercase;

    @include medium {
      @include medium-subheader;
    }
  }
  &__card-link {
    @include no-decoration;
    width: auto;

    @include large {
      width: calc(50% - 24px);
    }
  }
  &__cta-title {
    @include medium-labels;
    color: $accent;
  }
  &__cta-body {
    @include medium-body-copy;
    color: $text;
  }
}
