@import "../../partials/colors";
@import "../../partials/fonts";
@import "../../partials/mixins";
@import "../../partials/screens";

.header {
  @include mobile-container-padding;
  background-color: $bg;
  width: 100%;
  color: $text;

  &__logo {
    @include header;

    @include medium {
      @include medium-header;
    }
  }
  &__logo-link {
    @include no-decoration;
    color: $text;
  }

  &__nav-container {
    @include mobile-component-padding;
  }

  &__links-container {
    @include flex;
    list-style: none;
  }
  &__item {
    @include labels;
    margin-right: 0.5rem;

    @include medium {
      @include medium-labels;
    }
  }
  &__link {
    @include no-decoration;
    @include labels;
    color: $accent;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s;

    @include medium {
      @include medium-labels;
    }

    &:hover {
      border-color: $accent;
    }
  }
}
