@import "../../partials/colors";
@import "../../partials/fonts";
@import "../../partials/mixins";
@import "../../partials/screens";

.posts {
  @include mobile-container-padding;

  @include medium {
    @include tablet-container-padding;
  }

  &__title {
    @include labels;
    text-transform: uppercase;
    color: $text;
    @include medium {
      @include medium-labels;
    }
  }

  &__top-btn {
    border: none;
    background-color: $bg;
  }

  &__btn-img {
    width: 18px;
    opacity: 0.7;
    transition: 0.5s transform;

    &:hover {
      transform: translateY(-3px);
    }
  }
}
