@font-face {
  font-family: "Monsterrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Monsterrat-Medium";
  src: url("../assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Monsterrat-Bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Monsterrat-Black";
  src: url("../assets/fonts/Montserrat-Black.ttf");
}
