@import "./colors";
@import "./fonts";
@import "./screens";

//// media queries
// large desktops (1200px and up)
@mixin xlarge {
  @media (min-width: $xlarge) {
    @content;
  }
}
// desktops (992px and up)
@mixin large {
  @media (min-width: $large) {
    @content;
  }
}
// landscape tablets (768px and up)
@mixin medium {
  @media (min-width: $medium) {
    @content;
  }
}
// portrait tablets and large phones (600px and up)
@mixin small {
  @media (min-width: $small) {
    @content;
  }
}

//// flex
@mixin flex {
  display: flex;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

//// padding & margins
@mixin mobile-container-padding {
  padding: 1rem;
}
@mixin mobile-component-padding {
  padding: 0.5rem 0;
}
@mixin tablet-section-padding {
  padding: 2.25rem;
}
@mixin tablet-container-padding {
  padding: 0 2.25rem;
}
@mixin tablet-nav-padding {
  padding: 1.5rem 2.25rem;
}
@mixin tablet-component-padding {
  padding: 1.13rem 0;
}
@mixin desktop-padding {
  padding: 1.5rem 5rem;
}
@mixin desktop-section-padding {
  padding: 0 5rem;
}

//// typography
@mixin header {
  font-family: "Monsterrat-Black", Arial, Helvetica, sans-serif;
  // color: $dark;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@mixin subheader {
  font-family: "Monsterrat-Black", Arial, Helvetica, sans-serif;
  // color: $dark;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@mixin body-copy {
  font-family: "Monsterrat", Arial, Helvetica, sans-serif;
  // color: $dark;
  font-size: 0.81rem;
  line-height: 1.13rem;
  font-weight: 400;
}
@mixin body-copy-bold {
  font-family: "Monsterrat-Medium", Arial, Helvetica, sans-serif;
  // color: $dark;
  font-size: 0.81rem;
  line-height: 1.13rem;
  font-weight: 700;
}
@mixin labels {
  font-family: "Monsterrat-Bold", Arial, Helvetica, sans-serif;
  // color: $medium-alt;
  font-size: 0.81rem;
  line-height: 1.325em;
  font-weight: 600;
  text-transform: uppercase;
}

@mixin medium-header {
  font-family: "Monsterrat-Black", Arial, Helvetica, sans-serif;
  // color: $dark;
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 900;
}
@mixin medium-subheader {
  font-family: "Monsterrat-Black", Arial, Helvetica, sans-serif;
  // color: $dark;
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
}
@mixin medium-body-copy {
  font-family: "Monsterrat", Arial, Helvetica, sans-serif;
  font-size: 0.88rem;
  line-height: 1.38rem;
  font-weight: 400;
}
@mixin medium-body-copy-bold {
  font-family: "Monsterrat-Bold", Arial, Helvetica, sans-serif;
  font-size: 0.81rem;
  line-height: 1.13rem;
  font-weight: 700;
}
@mixin medium-labels {
  font-family: "Monsterrat-Bold", Arial, Helvetica, sans-serif;
  font-size: 0.82rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}
@mixin no-list-style {
  list-style: none;
}
@mixin no-decoration {
  text-decoration: none;
}

// btns
@mixin btn-link {
  text-decoration: none;
  width: 100%;

  @include tablet {
    width: auto;
  }
  @include desktop {
    width: auto;
  }
}

@mixin btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  border-radius: 4px;
}

@mixin btn-text {
  @include labels;
  line-height: unset;
  margin: 0;

  @include tablet {
    @include medium-labels;
  }
}
